cache
logs
world*
acidisland*
.console_history
plugins/*.jar
plugins/bStats
plugins/Essentials/userdata
plugins/Essentials/warps
plugins/BentoBox/addons/*.jar
plugins/BentoBox/database_backup
plugins/BentoBox/database/BankAccounts
plugins/BentoBox/database/ChallengesPlayerData
plugins/BentoBox/database/Island*
plugins/BentoBox/database/LevelsData
plugins/BentoBox/database/Names
plugins/BentoBox/database/Players
plugins/BentoBox/database/SignCache
plugins/BentoBox/database/TopTenData
plugins/BentoBox/database/WarpsData
plugins/BentoBox/database/LikesObject
plugins/BentoBox/database/GeneratorDataObject
plugins/AuthMe/playerdata
plugins/AuthMe/authme*

*.jar
banned-ips.json
banned-players.json
eula.txt
ops.json
usercache.json
version_history.json
whitelist.json
start.bat
