cache
logs
world
world_nether
world_the_end
.console_history
plugins/*.jar
plugins/bStats
plugins/Essentials/userdata
plugins/Essentials/warps
*.jar
banned-ips.json
banned-players.json
eula.txt
ops.json
usercache.json
version_history.json
whitelist.json
start.bat
